In [25]:
import pandas as pd
import numpy as np

df = pd.read_csv("C:\\Users\\jyj42\\스터디2\\Study\\yujin\\datas\\covid-vaccination-vs-death_ratio.csv")
df

,Unnamed: 0,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
0,0,Afghanistan,AFG,2021-05-11,504502.0,448878.0,55624.0,12,40374668.0,1.111781
1,1,Afghanistan,AFG,2021-05-20,547901.0,470341.0,77560.0,10,40374668.0,1.164941
2,2,Afghanistan,AFG,2021-05-24,573277.0,476367.0,96910.0,10,40374668.0,1.179866
3,3,Afghanistan,AFG,2021-05-26,590454.0,479372.0,111082.0,19,40374668.0,1.187309
4,4,Afghanistan,AFG,2021-05-27,593313.0,479574.0,113739.0,14,40374668.0,1.187809
...,...,...,...,...,...,...,...,...,...,...
32906,32906,Zimbabwe,ZWE,2022-03-25,8691642.0,4814582.0,3473523.0,2,15229891.0,31.612715
32907,32907,Zimbabwe,ZWE,2022-03-26,8791728.0,4886242.0,3487962.0,2,15229891.0,32.083237
32908,32908,Zimbabwe,ZWE,2022-03-27,8845039.0,4918147.0,3493763.0,1,15229891.0,32.292726
32909,32909,Zimbabwe,ZWE,2022-03-28,8934360.0,4975433.0,3501493.0,1,15229891.0,32.668868
32910,32910,Zimbabwe,ZWE,2022-03-29,9039729.0,5053114.0,3510256.0,0,15229891.0,33.178924

In [26]:
df["date"]=pd.to_datetime(df["date"])
latest_country = df.loc[df.groupby("country")["date"].idxmax()]
latest_country

,Unnamed: 0,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
35,35,Afghanistan,AFG,2022-03-22,5751015.0,5082824.0,4420127.0,0,40374668.0,12.589141
219,219,Albania,ALB,2022-03-24,2754244.0,1278902.0,1215199.0,0,2869700.0,44.565704
239,239,Algeria,DZA,2022-03-09,13704895.0,7461932.0,6110712.0,1,45061896.0,16.559294
270,270,Andorra,AND,2022-03-13,151997.0,57817.0,53367.0,0,77355.0,74.742421
323,323,Angola,AGO,2022-03-25,17535411.0,11235059.0,5993792.0,0,34566172.0,32.503047
...,...,...,...,...,...,...,...,...,...,...
32473,32473,Wallis and Futuna,WLF,2022-03-21,12940.0,6483.0,6457.0,0,11094.0,58.436993
32488,32488,Yemen,YEM,2022-03-16,807502.0,643501.0,404781.0,0,30882462.0,2.083710
32559,32559,Zambia,ZMB,2022-02-27,2822009.0,2487149.0,1862614.0,4,19238117.0,12.928235
32910,32910,Zimbabwe,ZWE,2022-03-29,9039729.0,5053114.0,3510256.0,0,15229891.0,33.178924
23198,23198,"occupied Palestinian territory, including east...",PSE,2022-03-24,3694897.0,1995873.0,1756319.0,8,5293440.0,37.704650

In [27]:
over = latest_country.loc[latest_country["ratio"]>100].index
latest_country = latest_country.drop(index=over)

In [28]:
latest_country = latest_country.sort_values(['ratio'])
latest_country

,Unnamed: 0,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
4798,4798,Burundi,BDI,2022-03-18,12166.0,10372.0,9906.0,0,12469663.0,0.083178
12640,12640,Haiti,HTI,2022-03-23,249801.0,163710.0,112335.0,0,11623799.0,1.408404
5884,5884,Chad,TCD,2022-03-18,419469.0,282003.0,153238.0,0,17203787.0,1.639191
32488,32488,Yemen,YEM,2022-03-16,807502.0,643501.0,404781.0,0,30882462.0,2.083710
23300,23300,Papua New Guinea,PNG,2022-03-28,574716.0,317150.0,257566.0,0,9220306.0,3.439691
...,...,...,...,...,...,...,...,...,...,...
4562,4562,Brunei Darussalam,BRN,2022-03-18,1068468.0,407945.0,404935.0,1,443903.0,91.899582
6318,6318,Chile,CHL,2022-03-22,50302179.0,17859475.0,17346012.0,11447,19275294.0,92.654748
7263,7263,Cuba,CUB,2022-03-27,35342367.0,10630665.0,9910237.0,1,11312548.0,93.972331
24636,24636,Portugal,PRT,2022-03-10,22923599.0,9663542.0,9415073.0,18,10150252.0,95.204947
30916,30916,United Arab Emirates,ARE,2022-03-29,24463702.0,9890318.0,9603499.0,0,10051436.0,98.397065

In [40]:
max_mean = np.mean(latest_country["ratio"].tail(10))
min_mean = np.mean(latest_country["ratio"].head(10))
print(np.round(max_mean - min_mean,1))

88.4