In [144]:
import pandas as pd

train = pd.read_csv("C:\\Users\\lsj02\\OneDrive\\바탕 화면\\PNU\\멘토링\\Study\\seojin\\bigdatacertificationkr\\bikesharing\\train.csv")
test = pd.read_csv("C:\\Users\\lsj02\\OneDrive\\바탕 화면\\PNU\\멘토링\\Study\\seojin\\bigdatacertificationkr\\bikesharing\\test.csv")

target = train.pop('count')
train = train.drop(['datetime','casual', 'registered'], axis=1)
test = test.drop(['datetime'], axis=1)
display(target, train.head(), test.head())

0         16
1         40
2         32
3         13
4          1
        ...
10881    336
10882    241
10883    168
10884    129
10885     88
Name: count, Length: 10886, dtype: int64

   season  holiday  workingday  weather  temp   atemp  humidity  windspeed
0       1        0           0        1  9.84  14.395        81        0.0
1       1        0           0        1  9.02  13.635        80        0.0
2       1        0           0        1  9.02  13.635        80        0.0
3       1        0           0        1  9.84  14.395        75        0.0
4       1        0           0        1  9.84  14.395        75        0.0

   season  holiday  workingday  weather   temp   atemp  humidity  windspeed
0       1        0           1        1  10.66  11.365        56    26.0027
1       1        0           1        1  10.66  13.635        56     0.0000
2       1        0           1        1  10.66  13.635        56     0.0000
3       1        0           1        1  10.66  12.880        56    11.0014
4       1        0           1        1  10.66  12.880        56    11.0014

In [145]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(train, target, test_size=0.2, random_state=2023)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((8708, 8), (2178, 8), (8708,), (2178,))

In [146]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

rf = RandomForestRegressor()

rf.fit(X_train, y_train)
pred = rf.predict(X_val)
r2_score(y_val, pred)

0.3097717419975259

In [147]:
train = pd.read_csv("C:\\Users\\lsj02\\OneDrive\\바탕 화면\\PNU\\멘토링\\Study\\seojin\\bigdatacertificationkr\\bikesharing\\train.csv")
test = pd.read_csv("C:\\Users\\lsj02\\OneDrive\\바탕 화면\\PNU\\멘토링\\Study\\seojin\\bigdatacertificationkr\\bikesharing\\test.csv")
target = train.pop('count')

df = pd.concat([train, test])
df['datetime'] = pd.to_datetime(df['datetime'])
df['year'] = df['datetime'].dt.year
df['month'] = df['datetime'].dt.month
df['day'] = df['datetime'].dt.day
df['hour'] = df['datetime'].dt.hour
df['weekday'] = df['datetime'].dt.dayofweek

df = df.drop(['datetime','casual', 'registered'], axis=1)

train = df[:len(train)]
test = df[len(train):]

display(target, train.head(), test.head())

0         16
1         40
2         32
3         13
4          1
        ...
10881    336
10882    241
10883    168
10884    129
10885     88
Name: count, Length: 10886, dtype: int64

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,year,month,day,hour,weekday
0,1,0,0,1,9.84,14.395,81,0.0,2011,1,1,0,5
1,1,0,0,1,9.02,13.635,80,0.0,2011,1,1,1,5
2,1,0,0,1,9.02,13.635,80,0.0,2011,1,1,2,5
3,1,0,0,1,9.84,14.395,75,0.0,2011,1,1,3,5
4,1,0,0,1,9.84,14.395,75,0.0,2011,1,1,4,5

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,year,month,day,hour,weekday
0,1,0,1,1,10.66,11.365,56,26.0027,2011,1,20,0,3
1,1,0,1,1,10.66,13.635,56,0.0000,2011,1,20,1,3
2,1,0,1,1,10.66,13.635,56,0.0000,2011,1,20,2,3
3,1,0,1,1,10.66,12.880,56,11.0014,2011,1,20,3,3
4,1,0,1,1,10.66,12.880,56,11.0014,2011,1,20,4,3

In [148]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(train, target, test_size=0.2, random_state=2023)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((8708, 13), (2178, 13), (8708,), (2178,))

In [149]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

rf = RandomForestRegressor()

rf.fit(X_train, y_train)
pred = rf.predict(X_val)
r2_score(y_val, pred)

pred = rf.predict(test)
# test['datetime'] = pd.to_datetime(test['datetime'])
# test['year'] = test['datetime'].dt.year
# test['month'] = test['datetime'].dt.month
# test['day'] = test['datetime'].dt.day
# test['hour'] = test['datetime'].dt.hour
# test['weekday'] = test['datetime'].dt.dayofweek
# test = test.drop(['datetime'], axis=1)

test2 = pd.read_csv("C:\\Users\\lsj02\\OneDrive\\바탕 화면\\PNU\\멘토링\\Study\\seojin\\bigdatacertificationkr\\bikesharing\\test.csv")
df = pd.DataFrame({'datetime': test2['datetime'], 'count': pred})
df.to_csv("C:\\Users\\lsj02\\OneDrive\\바탕 화면\\PNU\\멘토링\\Study\\seojin\\bigdatacertificationkr\\bikesharing\\submission.csv", index=False)